body {
    background-color: yellow;
    color: red;
    cursor: none;
    
}

.cursor {
    width: 270px;
  	height: 240px;
  	position: absolute;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-image: url(http://www.caspergaming.com/FJKB/Images/pixelated_evil_eye.png);
}